<div *ngIf="isInvited()">
	<label>Você está há um passo de apoiar em uma causa social!</label>
	<div nz-row nzGutter="8">
		<br>
		<div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
			<button nz-button nzType="primary" (click)="acceptInvite()">Aceitar convite</button>
			&nbsp;
			<button nz-button nzType="danger" (click)="declineInvitation()">Recusar convite</button>
		</div>
	</div>
	<br>
</div>
<div *ngIf="isNoVolunteer()">
	<label>Você está há um passo de apoiar em uma causa social!</label>
	<div nz-row nzGutter="8">
		<br>
		<div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
			<button nz-button nzType="primary" (click)="applyForSocialProject()">Candidatar-se como voluntário</button>
		</div>
	</div>
	<br>
</div>
<div *ngIf="isCandidate()">
	<nz-alert nzType="info" nzMessage="Candidato"
		nzDescription="Seu perfil está sendo analisado pelos gerentes do projeto social.">
	</nz-alert>
	<br>
</div>
<nz-card [nzTitle]="'PAGES.INSTITUTION.TITLE' | translate" *ngIf="institution">
	<div nz-row nzGutter="16">
		<div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
			<label class='page-view-label'>{{ 'PAGES.INSTITUTION.NAME' | translate }}</label>
			<p class='page-view-value'>{{ institution.name }}</p>
		</div>
		<div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
			<label class='page-view-label'>{{ 'PAGES.SOCIAL_PROJECT.STATE' | translate }}</label>
			<p class='page-view-value'>{{ institution.state }}</p>
		</div>
		<div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
			<label class='page-view-label'>{{ 'PAGES.SOCIAL_PROJECT.CITY' | translate }}</label>
			<p class='page-view-value'>{{ institution.city }}</p>
		</div>
	</div>
	<div nz-row nzGutter="16">
		<div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
			<label class='page-view-label'>{{ 'PAGES.SOCIAL_PROJECT.CEP' | translate }}</label>
			<p class='page-view-value'>{{ institution.cep }}</p>
		</div>
		<div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
			<label class='page-view-label'>{{ 'PAGES.SOCIAL_PROJECT.STREET' | translate }}</label>
			<p class='page-view-value'>{{ institution.street }}</p>
		</div>
		<div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
			<label class='page-view-label'>{{ 'PAGES.SOCIAL_PROJECT.NUMBER' | translate }}</label>
			<p class='page-view-value'>{{ institution.number }}</p>
		</div>
	</div>
</nz-card>
<br>
<form nz-form [formGroup]="fgSp" *ngIf="fgSp">
	<nz-card [nzTitle]="'PAGES.SOCIAL_PROJECT.TITLE' | translate">
		<div nz-row nzGutter="16">
			<div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
				<nz-form-item>
					<nz-form-label nzRequired nzFor="name">{{ 'PAGES.SOCIAL_PROJECT.NAME' | translate }}
					</nz-form-label>
					<nz-form-control>
						<input nz-input formControlName="name" id="name" [readonly]="!isManager()">
						<nz-form-explain *ngIf="fgSp.get('name').dirty && fgSp.get('name').errors">
							{{ 'PAGES.SOCIAL_PROJECT.NAME_INVALID' | translate }}
						</nz-form-explain>
					</nz-form-control>
				</nz-form-item>
			</div>
			<div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
				<nz-form-item>
					<nz-form-label nzRequired nzFor="initialDate">
						{{ 'PAGES.SOCIAL_PROJECT.INITIAL_DATE' | translate }}</nz-form-label>
					<nz-form-control>
						<nz-date-picker nzFormat="dd/MM/yyyy" [nzDisabled]="!isManager()" formControlName="initialDate" id="initialDate"></nz-date-picker>
						<nz-form-explain *ngIf="fgSp.get('initialDate').dirty && fgSp.get('initialDate').errors">
							{{ 'PAGES.SOCIAL_PROJECT.INITIAL_DATE_INVALID' | translate }}
						</nz-form-explain>
					</nz-form-control>
				</nz-form-item>
			</div>
			<div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
				<nz-form-item>
					<nz-form-label nzFor="finalDate">{{ 'PAGES.SOCIAL_PROJECT.FINAL_DATE' | translate }}</nz-form-label>
					<nz-date-picker nzFormat="dd/MM/yyyy" [nzDisabled]="!isManager()" formControlName="finalDate" id="finalDate"></nz-date-picker>
				</nz-form-item>
			</div>
		</div>
		<div nz-row nzGutter="16">
			<div nz-col [nzXs]="96" [nzSm]="48" [nzMd]="48" [nzLg]="24">
				<nz-form-item>
					<nz-form-label nzRequired nzFor="description">
						{{ 'PAGES.SOCIAL_PROJECT.DESCRIPTION' | translate }}</nz-form-label>
					<nz-form-control>
						<textarea maxlength="3999" nz-input rows="6" formControlName="description" id="description" [readonly]="!isManager()"></textarea>
						<nz-form-explain *ngIf="fgSp.get('description').dirty && fgSp.get('description').errors">
							{{ 'PAGES.SOCIAL_PROJECT.DESCRIPTION_INVALID' | translate }}
						</nz-form-explain>
					</nz-form-control>
				</nz-form-item>
			</div>
		</div>
		<nz-divider nzText="Endereço principal do projeto"></nz-divider>
		<div nz-row nzGutter="16">
			<div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
				<nz-form-item>
					<nz-form-label nzRequired nzFor="state">Estado</nz-form-label>
					<nz-form-control>
						<nz-select [nzDisabled]="!isManager()" formControlName="state" id="state" (ngModelChange)="onSelectState($event)" nzPlaceHolder="Selecione um estado">
							<nz-option *ngFor="let state of states" [nzValue]="state.sigla" [nzLabel]="state.nome"></nz-option>
						</nz-select>
						<nz-form-explain *ngIf="fgSp.get('state').dirty && fgSp.get('state').errors">O campo estado é inválido!
						</nz-form-explain>
					</nz-form-control>
				</nz-form-item>
			</div>
			<div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
				<nz-form-item>
					<nz-form-label nzRequired nzFor="city">Cidade</nz-form-label>
					<nz-form-control>
						<nz-select [nzDisabled]="!isManager()" formControlName="city" id="city" nzPlaceHolder="Selecione uma cidade">
							<nz-option *ngFor="let city of cities" [nzValue]="city.nome" [nzLabel]="city.nome"></nz-option>
						</nz-select>
						<nz-form-explain *ngIf="fgSp.get('city').dirty && fgSp.get('city').errors">O campo cidade é inválido!
						</nz-form-explain>
					</nz-form-control>
				</nz-form-item>
			</div>
			<div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="6" [nzLg]="3">
				<nz-form-item>
					<nz-form-label nzFor="cep">CEP</nz-form-label>
					<nz-form-control>
						<input nz-input formControlName="cep" id="cep" [readonly]="!isManager()">
					</nz-form-control>
				</nz-form-item>
			</div>
			<div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
				<nz-form-item>
					<nz-form-label nzFor="street">Rua</nz-form-label>
					<nz-form-control>
						<input nz-input formControlName="street" id="street" [readonly]="!isManager()">
					</nz-form-control>
				</nz-form-item>
			</div>
			<div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="6" [nzLg]="3">
				<nz-form-item>
					<nz-form-label nzFor="number">Número</nz-form-label>
					<nz-form-control>
						<input nz-input formControlName="number" id="number" [readonly]="!isManager()">
					</nz-form-control>
				</nz-form-item>
			</div>
		</div>
		<nz-divider *ngIf="isManager()"></nz-divider>
		<button nz-button nzType="primary" *ngIf="isManager()" (click)="saveSp()"
			[disabled]="fgSp.invalid">Salvar</button>
	</nz-card>
</form>
<br>
<nz-card [nzTitle]="'PAGES.SOCIAL_PROJECT.VOLUNTEERS' | translate" *ngIf="volunteers" [nzExtra]="buscarVoluntarios">
	<ng-template #buscarVoluntarios>
		<a *ngIf="isManager()" (click)="showModal()">Convidar voluntários</a>
	</ng-template>
	<nz-tabset>
		<nz-tab [nzTitle]="'PAGES.SOCIAL_PROJECT.VOLUNTEERS_ACTIVE' | translate">
			<nz-list class="volunteers-list" [nzDataSource]="getActiveVolunteers()" [nzItemLayout]="'horizontal'"
				[nzRenderItem]="volunteer">
				<ng-template #volunteer let-volunteer>
					<nz-list-item [nzContent]="content" [nzActions]="[promove,deleteVolunteer]">
						<!-- Actions -->
						<ng-template #promove>
							<a *ngIf="isManager() && volunteer.socialProjectVolunteerType != 'MANAGER'" nz-popconfirm
								(nzOnConfirm)="makeManager(volunteer)" nzPopconfirmPlacement="top"
								[nzTitle]="'PAGES.SOCIAL_PROJECT.MAKE_MANAGER_CONFIRM' | translate">Tornar gerente
							</a>
							<a *ngIf="isManager() && volunteer.socialProjectVolunteerType == 'MANAGER'"
								class="disabled">Tornar gerente</a>
						</ng-template>
						<ng-template #deleteVolunteer>
							<a *ngIf="isManager() && volunteer.socialProjectVolunteerType != 'MANAGER'" nz-popconfirm
								(nzOnConfirm)="removeVolunteer(volunteer)" nzPopconfirmPlacement="top"
								[nzTitle]="'PAGES.SOCIAL_PROJECT.REMOVE_VOLUNTEER_CONFIRM' | translate">Remover
							</a>
							<a *ngIf="isManager() && volunteer.socialProjectVolunteerType == 'MANAGER'"
								class="disabled">Remover</a>
						</ng-template>
						<!-- Avatar -->
						<nz-list-item-meta [nzTitle]="nzTitle"
							nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
							[nzDescription]="volunteer.occupation">
							<ng-template #nzTitle>
								<a (click)="openUserInformations(volunteer.userId)">{{ volunteer.formalName }}</a>
							</ng-template>
						</nz-list-item-meta>
						<!-- Content -->
						<ng-template #content>
							<nz-tag
								[nzColor]="getSocialProjectVolunteerTypeColor(volunteer.socialProjectVolunteerType)">
								{{getSocialProjectVolunteerTypeName(volunteer.socialProjectVolunteerType)}}</nz-tag>
						</ng-template>
					</nz-list-item>
				</ng-template>
			</nz-list>
		</nz-tab>
		<nz-tab [nzTitle]="'PAGES.SOCIAL_PROJECT.VOLUNTEERS_INACTIVE' | translate" *ngIf="isManager()">
			<nz-list class="volunteers-list" [nzDataSource]="getPossibleVolunteers()" [nzItemLayout]="'horizontal'"
				[nzRenderItem]="volunteerInactive">
				<ng-template #volunteerInactive let-volunteerInactive>
					<nz-list-item [nzContent]="contentInactive" [nzActions]="[actionInactive]">
						<!-- Avatar -->
						<nz-list-item-meta [nzTitle]="nzTitleInactive"
							nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
							[nzDescription]="volunteerInactive.occupation">
							<ng-template #nzTitleInactive>
								<a (click)="openUserInformations(volunteerInactive.userId)">{{ volunteerInactive.formalName }}</a>
							</ng-template>
						</nz-list-item-meta>
						<!-- Content -->
						<ng-template #contentInactive>
							<nz-tag
								[nzColor]="getSocialProjectVolunteerTypeColor(volunteerInactive.socialProjectVolunteerType)">
								{{getSocialProjectVolunteerTypeName(volunteerInactive.socialProjectVolunteerType)}}
							</nz-tag>
						</ng-template>
						<!-- Actions -->
						<ng-template #actionInactive>
							<a *ngIf="volunteerInactive.socialProjectVolunteerType == 'CANDIDATE'" nz-popconfirm
								(nzOnConfirm)="approveCandidate(volunteerInactive)" nzPopconfirmPlacement="top"
								[nzTitle]="'PAGES.SOCIAL_PROJECT.APPROVE_CANDIDATE_CONFIRM' | translate">Aprovar
								candidato
							</a>
							<a *ngIf="volunteerInactive.socialProjectVolunteerType == 'INVITED'" nz-popconfirm
								(nzOnConfirm)="removeVolunteer(volunteerInactive)" nzPopconfirmPlacement="top"
								[nzTitle]="'PAGES.SOCIAL_PROJECT.CANCEL_INVITE_CONFIRM' | translate">Cancelar convite
							</a>
						</ng-template>
					</nz-list-item>
				</ng-template>
			</nz-list>
		</nz-tab>
	</nz-tabset>
</nz-card>

<nz-modal [(nzVisible)]="isModalVisible" nzTitle="Convidar voluntários" (nzOnCancel)="hideModal()" nzWidth="1000"
	[nzFooter]="modalFooter" [nzStyle]="{ top: '10px' }">
	<form nz-form [formGroup]="fgVs">
		<div nz-row nzGutter="16">
			<div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
				<label>Nome completo</label>
				<input nz-input formControlName="formalName" />
			</div>
			<div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
				<label>Competência</label>
				<nz-select formControlName="skill" nzPlaceHolder="Busque por uma competência" nzAllowClear>
					<nz-option *ngFor="let option of skills" [nzValue]="option" [nzLabel]="option.skillName">
					</nz-option>
				</nz-select>
			</div>
			<div>
				<button style="margin-top: 20px;" nz-button nzType="primary" (click)="searchVolunteersToInvite()">
					<i nz-icon type="search"></i>Buscar
				</button>
			</div>
		</div>
	</form>
	<ng-template #modalFooter>
		<button nz-button nzType="secondary" (click)="hideModal()">Fechar</button>
	</ng-template>
	<nz-divider *ngIf="volunteersToInvite" nzText="Resultados"></nz-divider>
	<nz-list *ngIf="volunteersToInvite" class="volunteers-list" [nzDataSource]="volunteersToInvite"
		[nzItemLayout]="'horizontal'" [nzRenderItem]="volInvite">
		<ng-template #volInvite let-volInvite>
			<nz-list-item [nzContent]="contentInvite" [nzActions]="[invite]">
				<!-- Actions -->
				<ng-template #invite>
					<a nz-popconfirm (nzOnConfirm)="inviteVolunteer(volInvite)" nzPopconfirmPlacement="top"
						[nzTitle]="'PAGES.SOCIAL_PROJECT.INVITE_CONFIRM' | translate">Enviar convite
					</a>
				</ng-template>
				<!-- Avatar -->
				<nz-list-item-meta [nzTitle]="nzTitle"
					nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
					[nzDescription]="volInvite.occupation">
					<ng-template #nzTitle>
						<a (click)="openUserInformations(volInvite.userId)">{{ volInvite.formalName }}</a>
					</ng-template>
				</nz-list-item-meta>
				<!-- Content -->
				<ng-template #contentInvite>
					<label>{{ volInvite.description }}</label>
				</ng-template>
			</nz-list-item>
		</ng-template>
	</nz-list>
</nz-modal>
<user-informations></user-informations>