<nz-card [nzTitle]="'PAGES.INSTITUTION.TITLE' | translate" *ngIf="institution">
	<div nz-row nzGutter="16">
		<div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
			<label class='page-view-label'>{{ 'PAGES.INSTITUTION.NAME' | translate }}</label>
			<p class='page-view-value'>{{ institution.name }}</p>
		</div>
		<div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
			<label class='page-view-label'>{{ 'PAGES.SOCIAL_PROJECT.STATE' | translate }}</label>
			<p class='page-view-value'>{{ institution.state }}</p>
		</div>
		<div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
			<label class='page-view-label'>{{ 'PAGES.SOCIAL_PROJECT.CITY' | translate }}</label>
			<p class='page-view-value'>{{ institution.city }}</p>
		</div>
	</div>
	<div nz-row nzGutter="16">
		<div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
			<label class='page-view-label'>{{ 'PAGES.SOCIAL_PROJECT.CEP' | translate }}</label>
			<p class='page-view-value'>{{ institution.cep }}</p>
		</div>
		<div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
			<label class='page-view-label'>{{ 'PAGES.SOCIAL_PROJECT.STREET' | translate }}</label>
			<p class='page-view-value'>{{ institution.street }}</p>
		</div>
		<div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
			<label class='page-view-label'>{{ 'PAGES.SOCIAL_PROJECT.NUMBER' | translate }}</label>
			<p class='page-view-value'>{{ institution.number }}</p>
		</div>
	</div>
</nz-card>
<br>
<form nz-form [formGroup]="fgSp" *ngIf="fgSp">
	<nz-card [nzTitle]="'PAGES.SOCIAL_PROJECT.TITLE' | translate">
		<nz-form-item>
			<nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">{{ 'PAGES.SOCIAL_PROJECT.NAME' | translate }}
			</nz-form-label>
			<nz-form-control [nzSm]="14" [nzXs]="24">
				<input nz-input formControlName="name" id="name" [readonly]="!isManager()">
				<nz-form-explain *ngIf="fgSp.get('name').dirty && fgSp.get('name').errors">
					{{ 'PAGES.SOCIAL_PROJECT.NAME_INVALID' | translate }}
				</nz-form-explain>
			</nz-form-control>
		</nz-form-item>
		<nz-form-item>
			<nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="description">
				{{ 'PAGES.SOCIAL_PROJECT.DESCRIPTION' | translate }}</nz-form-label>
			<nz-form-control [nzSm]="14" [nzXs]="24">
				<input nz-input formControlName="description" id="description" [readonly]="!isManager()">
				<nz-form-explain *ngIf="fgSp.get('description').dirty && fgSp.get('description').errors">
					{{ 'PAGES.SOCIAL_PROJECT.DESCRIPTION_INVALID' | translate }}
				</nz-form-explain>
			</nz-form-control>
		</nz-form-item>
		<nz-divider *ngIf="isManager()"></nz-divider>
		<button nz-button nzType="primary" *ngIf="isManager()" (click)="saveSp()"
			[disabled]="fgSp.invalid">Salvar</button>
	</nz-card>
</form>
<br>
<nz-card [nzTitle]="'PAGES.SOCIAL_PROJECT.VOLUNTEERS' | translate" *ngIf="volunteers">
	<nz-tabset>
		<nz-tab [nzTitle]="'PAGES.SOCIAL_PROJECT.VOLUNTEERS_ACTIVE' | translate">
			<nz-list class="volunteers-list" [nzDataSource]="getActiveVolunteers()" [nzItemLayout]="'horizontal'"
				[nzRenderItem]="volunteer">
				<ng-template #volunteer let-volunteer>
					<nz-list-item [nzContent]="content" [nzActions]="[makeManager,removeVolunteer]">
						<!-- Actions -->
						<ng-template #makeManager>
							<a *ngIf="isManager() && volunteer.socialProjectVolunteerType != 'MANAGER'" nz-popconfirm (nzOnConfirm)="makeManager(volunteer)"
								nzPopconfirmPlacement="top"
								[nzTitle]="'PAGES.SOCIAL_PROJECT.MAKE_MANAGER_CONFIRM' | translate">Tornar gerente
							</a>
							<a *ngIf="isManager() && volunteer.socialProjectVolunteerType == 'MANAGER'" class="disabled">Tornar gerente</a>
						</ng-template>
						<ng-template #removeVolunteer>
							<a *ngIf="isManager() && volunteer.socialProjectVolunteerType != 'MANAGER'" nz-popconfirm (nzOnConfirm)="removeVolunteer(volunteer, i)"
								nzPopconfirmPlacement="top"
								[nzTitle]="'PAGES.SOCIAL_PROJECT.REMOVE_VOLUNTEER_CONFIRM' | translate">Remover
							</a>
							<a *ngIf="isManager() && volunteer.socialProjectVolunteerType == 'MANAGER'" class="disabled">Remover</a>
						</ng-template>
						<!-- Avatar -->
						<nz-list-item-meta [nzTitle]="nzTitle"
							nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
							[nzDescription]="volunteer.occupation">
							<ng-template #nzTitle>
								<a href="">{{ volunteer.formalName }}</a>
							</ng-template>
						</nz-list-item-meta>
						<!-- Content -->
						<ng-template #content>
							<nz-tag
								[nzColor]="getSocialProjectVolunteerTypeColor(volunteer.socialProjectVolunteerType)">
								{{getSocialProjectVolunteerTypeName(volunteer.socialProjectVolunteerType)}}</nz-tag>
						</ng-template>
					</nz-list-item>
				</ng-template>
			</nz-list>
		</nz-tab>
		<nz-tab [nzTitle]="'PAGES.SOCIAL_PROJECT.VOLUNTEERS_INACTIVE' | translate" *ngIf="isManager()">
			<nz-list class="volunteers-list" [nzDataSource]="getPossibleVolunteers()" [nzItemLayout]="'horizontal'"
				[nzRenderItem]="volunteerInactive">
				<ng-template #volunteerInactive let-volunteerInactive>
					<nz-list-item [nzContent]="contentInactive" [nzActions]="[actionInactive]">
						<!-- Avatar -->
						<nz-list-item-meta [nzTitle]="nzTitleInactive"
							nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
							[nzDescription]="volunteerInactive.occupation">
							<ng-template #nzTitleInactive>
								<a href="">{{ volunteerInactive.formalName }}</a>
							</ng-template>
						</nz-list-item-meta>
						<!-- Content -->
						<ng-template #contentInactive>
							<nz-tag
								[nzColor]="getSocialProjectVolunteerTypeColor(volunteerInactive.socialProjectVolunteerType)">
								{{getSocialProjectVolunteerTypeName(volunteerInactive.socialProjectVolunteerType)}}</nz-tag>
						</ng-template>
						<!-- Actions -->
						<ng-template #actionInactive>
							<a *ngIf="volunteerInactive.socialProjectVolunteerType == 'CANDIDATE'" nz-popconfirm
								(nzOnConfirm)="approveCandidate(volunteerInactive)" nzPopconfirmPlacement="top"
								[nzTitle]="'PAGES.SOCIAL_PROJECT.APPROVE_CANDIDATE_CONFIRM' | translate">Aprovar
								candidato
							</a>
							<a *ngIf="volunteerInactive.socialProjectVolunteerType == 'INVITED'" nz-popconfirm
								(nzOnConfirm)="cancelInvite(volunteerInactive)" nzPopconfirmPlacement="top"
								[nzTitle]="'PAGES.SOCIAL_PROJECT.CANCEL_INVITE_CONFIRM' | translate">Cancelar convite
							</a>
						</ng-template>
					</nz-list-item>
				</ng-template>
			</nz-list>
		</nz-tab>
	</nz-tabset>
</nz-card>