<nz-card nzTitle="Buscar projetos sociais">
	<form nz-form [formGroup]="fgSearch">
		<div nz-row nzGutter="16">
			<div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
				<label>Estado</label>
				<nz-select formControlName="state" id="state" (ngModelChange)="onSelectState($event)" nzPlaceHolder="Selecione um estado" nzAllowClear>
					<nz-option *ngFor="let state of states" [nzValue]="state.sigla" [nzLabel]="state.nome"></nz-option>
				</nz-select>
			</div>
			<div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
				<label>Cidade</label>
				<nz-select formControlName="city" id="city" nzPlaceHolder="Selecione uma cidade" nzAllowClear>
					<nz-option *ngFor="let city of cities" [nzValue]="city.nome" [nzLabel]="city.nome"></nz-option>
				</nz-select>
			</div>
			<div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
				<label>Instituição</label>
				<nz-select formControlName="institution" id="city" nzPlaceHolder="Selecione uma instituição" nzAllowClear>
					<nz-option *ngFor="let institution of institutions" [nzValue]="institution" [nzLabel]="institution.name"></nz-option>
				</nz-select>
			</div>
			<div>
				<button style="margin-top: 20px;" nz-button nzType="primary" (click)="searchSocialProjects()">
					<i nz-icon type="search"></i>Buscar
				</button>
			</div>
		</div>
	</form>
	<nz-divider nzText="Resultados"></nz-divider>
	<nz-list [nzDataSource]="socialProjects" [nzItemLayout]="'vertical'" [nzRenderItem]="item">
		<ng-template #item let-item>
			<nz-list-item [nzContent]="item.description" [nzExtra]="extra">
				<nz-list-item-meta
					nzAvatar="https://png.pngtree.com/png-vector/20190615/ourlarge/pngtree-bankinstitutionmoneyireland-abstract-circle-background-fla-png-image_1484516.jpg"
					[nzTitle]="nzTitle" [nzDescription]="getSubTitle(item)">
					<ng-template #nzTitle>
						<a (click)="edit(item.id)">{{item.name}}</a>
						 - {{item.city}} ({{item.state}})
					</ng-template>
				</nz-list-item-meta>
				<ng-template #extra>
					<img width="272" alt="logo"
						src="https://png.pngtree.com/png-vector/20190615/ourlarge/pngtree-bankinstitutionmoneyireland-abstract-circle-background-fla-png-image_1484516.jpg">
				</ng-template>
			</nz-list-item>
		</ng-template>
	</nz-list>
</nz-card>